<p id="notice"><%= notice %></p>
<h1>Task List</h1>

<%= form_with url: tasks_path, method: :get, local: true do %>
  <div>
    <%= text_field_tag :keyword, params[:keyword], placeholder: "Search title or description" %>
  </div>

  <div>
    <%= label_tag :start_date, "Start Date" %>
    <%= date_field_tag :start_date, params[:start_date] %>

    <%= label_tag :end_date, "End Date" %>
    <%= date_field_tag :end_date, params[:end_date] %>
  </div>

  <div>
    <label>Status:</label>
    <%= radio_button_tag :status, "none", params[:status].blank? || params[:status] == "none" %>
    <%= label_tag :status_none, "指定なし" %>

    <%= radio_button_tag :status, "todo", params[:status] == "todo" %>
    <%= label_tag :status_todo, "todo" %>

    <%= radio_button_tag :status, "doing", params[:status] == "doing" %>
    <%= label_tag :status_doing, "doing" %>

    <%= radio_button_tag :status, "done", params[:status] == "done" %>
    <%= label_tag :status_done, "done" %>
  </div>

  <%= submit_tag "Search" %>
<% end %>

<hr>

<%= link_to "Sort by deadline", tasks_path(
  keyword: params[:keyword],
  start_date: params[:start_date],
  end_date: params[:end_date],
  status: params[:status],
  sort: "deadline",
  direction: params[:direction] == "asc" ? "desc" : "asc"
) %>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <strong><%= task.title %></strong> - <%= task.description %> - 
      [<%= task.status %>] - Deadline: <%= task.deadline %>
    </li>
  <% end %>
</ul>